{% extends 'purbeurre/base.html' %}


{% block S1A1 %}<section class="flex-column col-lg-12 text-center" id="creationBox">
    <h1 class="bg-moufri">Créer un compte</h1>
    <article class="container col-lg-12 bg-roichoco">
        <br/><br/>
    
        {% if error_password %}
        <p><strong>Mot de passe erroné.</strong></p>
        {% endif %}
        {% if error_username %}
        <p><strong>Nom d'utilisateur déjà attribué.</strong></p>
        {% endif %}
        {% if error_email %}
        <p><strong>Un compte est déjà lié à cet email.</strong></p>
        {% endif %}

        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Créer mon compte" class="btn btn-outline-purbeurre btn-lg btn-block" />
        </form>
        <br/><br/>
    </article>
</section>{% endblock %}