
{% extends 'purbeurre/base.html' %}


{% block S1A1 %}<section class="flex-column col-lg-12 text-center" id="connectionBox">
    <h1 class="bg-moufri">Se connecter</h1>
    <article class="container col-lg-12 bg-roichoco">
        <br/><br/>
        {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
        {% endif %}

        {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
        {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" class="btn btn-outline-purbeurre btn-lg btn-block" />
        </form>
        {% endif %}
    <br/><br/>
    </article>
</section>{% endblock %}