<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Purbeurre substitute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'purbeurre/css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'purbeurre/css/base.css' %}" />     
</head>
    
    
<body>

    <header>
        {% block header %}
        <nav class="navbar navbar-expand-md navbar-inverse">
            <div class="col-lg-1">Logo</div>
            <div class="col-lg-5">Purbeurre</div>
            <div class="container-fluid col-lg-2">
                <form class="navbar-form navbar-right inline-form" action="{% url 'purbeurre:result' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="item_name" maxlength="100" class="item_name" id="item_name">
                      <button type="submit" class="btn btn-primary btn-sm">Chercher un substitut</button>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav col-lg-4">
                <li class="active"><button>Mon compte</button> </li>
                <li><button><a href="{% url 'purbeurre:history' %}"> Mes aliments</a></button></li>
                <li> <button><a href="https://openclassrooms.com/fr/courses/1885491-prenez-en-main-bootstrap/1887934-les-plugins-jquery">
                    Accueil/Déconnection</a></button></li>
            </ul>       
        </nav>
        {% endblock %}
    </header>

    <section class="row text-center">
        {% block h1 %}
        {% endblock %}
        
        {% block S1A1 %}
        {% endblock %}

        {% block S1A2 %}
        {% endblock %}

        {% block S1A3 %}

        {% endblock %}
    
    </section>
    

    <footer class="row text-center">
        {% block footer %}
        <div class="phone col-lg-5">Mentions légales</div>
        <div class="email col-lg-5">Contact</div>
        {% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.0.js" 
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

</body>
</html>

