{% extends 'purbeurre/base.html' %}

  {% block h1 %}
      <h1 class="col-lg-12">Du gras, oui, mais de qualité!</h1>
  {% endblock %}
  
  {% block S1A1 %}
  
  <article class="flex-column col-lg-6 col-sm-12">
      <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
      <div class="container-fluid col-lg-8">
        {% include 'purbeurre/formular.html' %}
      </div>
  </article>
  {% endblock %}

  {% block S1A2 %}
  <article class="flex-column col-lg-6 col-sm-12">
      <h2>Colette et Remy</h2>
      <div></div>
  </article>
  {% endblock %}

  {% block S1A3 %}
  <article class="flex-column col-lg-12">
      <h2 >Contactez nous</h2>
      <div></div>
  </article>
  {% endblock %}