{% extends 'purbeurre/base.html' %}

{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Accueil</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Colette et Remy</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}     

{% block S1A1 %}
<!-- About-->
<section class="masthead" id="about">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité!</h1>
                <hr class="divider my-4" />
            </div>
            <h2>Trouvez un produit de substitution, pour ceux que vous consommez tous les jours.</h2>
            <form class="navbar-form navbar-right inline-form" action="{% url 'purbeurre:result' %}" method="POST">
                <div class="form-group">
                    <input type="text" name="item_name" maxlength="100" class="item_name" id="item_name">
                    <button type="submit" class="btn btn-primary btn-sm">Chercher un substitut</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block S1A2 %}
<!-- Portfolio-->
<section class="text-center" id="portfolio">
    <h2>Colette et Remy</h2>
    <h3><br/>De la ratatouille aux croissants</h3>
    <p><br/>Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, 
        que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.
    </p>
    <div class="container-fluid p-0">
        <div class="row justify-content-around custom-line">
            <div class="col-lg-4 col-sm-10">
                <a class="portfolio-box" href="../static/purbeurre/assets/img/portfolio/fullsize/5.png">
                    <img class="img-fluid" src="../static/purbeurre/assets/img/portfolio/thumbnails/5.png" alt="colette" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            Colette Tatou
                        </div>
                        <div class="project-name">
                            Nous aimons tous manger, surtout en France !  
                            Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. 
                            Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, 
                            surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais 
                            l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-10">
                <a class="portfolio-box" href="../static/purbeurre/assets/img/portfolio/fullsize/6.png">
                    <img class="img-fluid" src="../static/purbeurre/assets/img/portfolio/thumbnails/6.png" alt="remy" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">
                            Remy
                        </div>
                        <div class="project-name">
                            Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. 
                            Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. 
                            Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, 
                            je savais tout de suite où le trouver. L'idée de Pur Beurre était née !
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to action-->
<section class="page-section bg-dark text-white">
</section>
{% endblock %}

{% block S1A3 %}
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contactez nous:</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">
                    Envoyez nous un email ou contactez nous par téléphone.
                    Nous vous répondrons aussi vite que possible.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:contact@purbeurre.com">contact@purbeurre.com</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
